body {
  background-color: #333;
  font-family: 'Special Elite', cursive;
}
.header, .content{
  text-align: center;
}
canvas{
  background-color: #444;
  outline: 2px black solid;
}

.panel {
  background-color: #444;
  float: left;
  position: absolute;
  padding: 10px;
  margin: 0 0 0 100px;
  border: 2px black solid;
}

.player-example {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 1px black solid;
  background-color: #00cc00;
}

.human-example {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 1px black solid;
  background-color: #00aaaa;
}

.zombie-example {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 1px black solid;
  background-color: #ff0000;
}

.infected-human-example {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 1px black solid;
  background-color: #770000;
}

.footer ul{
  list-style-type: none;
  padding-left: 0px;
  margin-left: 0px;
}

.github {
  color: green;
}

.footer h6{
  text-align: center;
}
.footer a{
  text-align: left;
  color: #2de037;
  font-size: 0.8em;
  text-decoration: none;
}

#wrap {
   width:400px;
   margin: 0 auto;
}
#left_col {
   float:left;
   width:200px;
}
#right_col {
   float:right;
   width:200px;
}

.score-container{
  display: inline-block;
  position: absolute;
  top: 110px;
}
